
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.game {
  text-align: center;
}

.game-buttons {
  text-align: left;
  display: block;
}

.board {
  padding: 0;
  padding-bottom: 10px;
}

.board-status {
  text-align: left;
  padding-bottom: 10px;
}

.board-table {
  padding: 0;
  display: block;
}

.board-row {
  display: flex; /*otherwise BUTTONS grow in size when button is clicked and text X/O is placed*/
}

/* not sure what it means - and how it affects the layout */
/*.board-row:after {
  clear: both;
  content: '';
  /*display: flex;
}*/

.cell {
  background: #fff;
  border: 1px solid #999;
  float: center;
  font-size: 24px;
  font-weight: bold;
  
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  
  text-align: center;
  line-height: 40px;

  width: 60px;
  height: 60px;
}


